{% extends 'base.html' %}

{% block content %}
  <h1 class="card-title">Peliver -> Python Deliver</h1>
  <img src="media/Logo_DontMove/logo.png" alt="">
  <h3>How To Use</h3>
  <p class="card-text">Send your files easily in your local network.
  You don't need to look for flash memory to transfer data from your computer to your
  friend's computer. You both just need to connect to a wi-fi (you can use the hotspot of your
  smart phone) and then run the server on your computer. your friend can connect to your server
  with your IP address in network and BOOM. He can upload his file and you can recieve it in your
  side. </p>
  <p>For more information go through the README file in the repository:
  <a href="https://github.com/alifele/Peliver">https://github.com/alifele/Peliver</a>
  </p>
  <p class="card-text">

  </p>
  <p class="card-text">
    Ali Fele Paranj<br>
    <a href="https://twitter.com/vitorfs">ali.fele@gmail.com</a>
  </p>
{% endblock %}
